$darkGreen: #006d77;
$lightGreen: #83c5be;
$white: #edf6f9;
$lightBrown: #ffddd2;
$darkBrown: #e29578;

.hide{
    display: none;
}
.invalid-feedback{
    display: block;
}

// Sidebar
#accordionSidebar{
    background-color: #006d77;
    .sidebar-brand-text{
        text-align: left;
        font-size: 12px;
    }
}

#register{
    .register-image{
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#login{
    .login-image{
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

#dataTable{
    a{
        text-decoration: none;
    }
    .delete{
        color: crimson;
        margin-right: 10px;
        &:hover{
            color: #b81534;
        }
    }
    .edit{
        color: #1cc88a;
        &:hover{
            color: #17a673;
        }
    }
}

.card-body{
    ol{
        padding-left: 20px;
        margin-bottom: 0;
    }
}

#portfolio{
    .galeri-carousel{
        .owl-nav{
            button{
                width: 60px;
                height: 60px;
                font-size: 40px;
                outline: none;
                position: absolute;
                top: 40%;
            }
            .owl-prev{
                left: -120px;
            }
            .owl-next{
                right: -120px;
            }
            span{
                font-size: 100px;
            }
        }

        img{
            width: 400px;
        }
    }
}

.portfolio-modal {
    table {
        th,
        td {
            text-align: left;
        }
    }
}

// extend from portfolio modal
.guru-modal {
    .modal-body {
        img {
            width: 24rem;
            height: 24rem;
        }
    }
}

a.guru-link {
    img {
        transition: .3s all ease-in-out;
    }
    &:hover {
        img {
            border-color: #00a85a;
        }
    }
}